<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Query and Images</title>
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../cssFiles/fronend.css">
</head>
<body>

    <div class="container">
        <h2>Submit Query and Images</h2>
        <form action="http://127.0.0.1:8000/submit/" method="POST" enctype="multipart/form-data">
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="username" oninput="nameValidation()" required>
            <span id="nameError" class="error"></span>
            <br>
            <label for="email">Your Email:</label>
            <input type="text" id="email" name="email" oninput="validateForm()" required>
            <span id="emailError" class="error"></span>
            <br>
            <label for="query">Your Query:</label>
            <textarea id="query" name="query" rows="4" required></textarea>
            <br>
            <label for="images">Upload Images:</label>
            <input type="file" id="images" name="files" accept="image/*" multiple required>
            <br>
            <button type="submit" id="submitButton" disabled title="Please fix the errors above to enable submission" disabled>Submit Query and Images</button>
        </form>
        <div id="message"></div>
    </div>

    <script src="../jsFiles/validation.js"> </script>

</body>
</html>

